<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Admin Control Panel</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <!-- Favicons -->
    <link href="/admin/static/assets/img/favicon.png" rel="icon">
    <link href="/admin/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <!-- Vendor CSS Files -->
    <link href="/admin/static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/admin/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/admin/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/admin/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/admin/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/admin/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">.

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- Bootstrap Files -->
    <!-- <script src="{{ url_for('static', filename='/node_modules/jquery/dist/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='/node_modules/bootstrap/dist/js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static',filename='/javascript/navlink-activator.js')}}"></script> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

    <!-- Template Main CSS File -->
    <link href="/admin/static/assets/css/style.css" rel="stylesheet">
    <style>
      body {
        margin: 0;
      }

      .active {
        color: lime;
        font-weight: 600;
      }
      .alert {
        padding: 20px;
        background-color: #46faa6;
        color: rgb(0, 0, 0);
        position: relative;
        display: none;
        float: inline-start;
      }

      .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
      }

      .closebtn:hover {
        color: black;
      }
    </style>
  </head>
  <body>
    
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top  header-transparent ">
      <div class="container d-flex align-items-center justify-content-between">
        <div class="logo">
          <!-- <a href="/index"><img src="{{ url_for('static',filename='/Drawable/logos/logo2.png') }}" style="object-fit: contain;width: 200px;height: 200px;"></a> -->
          <!-- Uncomment below if you prefer to use an image logo -->
          <a href="/admin">
            <img src="/admin/static/logo-no-bg.png" alt="" class="img-fluid">
          </a>
        </div>
        <nav id="navbar" class="navbar">
          <ul>
            <li>
              <a class="nav-link scrollto active" href="#Admin">Admin</a>
            </li>
            <li>
              <a class="nav-link scrollto" href="#Agents">Agents</a>
            </li>
            <li>
              <a class="nav-link scrollto" href="#Pending">Pending</a>
            </li>
            <li>
              <a class="getstarted scrollto" href="#Register">Register Agent</a>
            </li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <div class="container" id="alert" style="position: fixed;color:aliceblue;background-color: #13d133;display: none;padding: 10px;top:700px;z-index: 20;left:100px">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <i id="message">response message</i>
    </div>
    <!-- End Header -->
    <!-- ======= Hero Section ======= -->
    <section id="Admin" class="d-flex align-items-center" style="background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(97,186,255,1) 0%, rgba(166,239,253,1) 90.1% );">
      <div class="container" >
        <div class="row">
          <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
            <div class="display-1">
              <h1>Welcome</h1>
              <h1>Admin</h1>
              <a href="#Register" class="get-started-btn">Register Agent</a>
              <a href="#Pending" class="get-started-btn">Issues</a>
            </div>
          </div>
          <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img" data-aos="fade-up">
            <img src="/admin/static/assets/img/hero-img.png" class="img-fluid" alt="">
          </div>
        </div>
      </div>
    </section>
    <!-- ---------------------------------Alert Box---------------------------- -->
    
    <!-- End Hero -->
    <main id="main">
      <!-- ======= App Features Section ======= -->
      <section id="Register" class="features" style="background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(171,102,255,1) 0%, rgba(116,182,247,1) 90% );">
        <div class="container">
          <div class="container h-100" data-aos="fade-up" data-aos-delay="100">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;box-shadow: 0 0 20px 5px black;background-color: rgb(255, 255, 255);">
                  <div class="card-body p-md-5">
                    <div class="row justify-content-center">
                      <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                        <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Register new Agent</p>
                        
                        <form id="new-agent-form" action="/admin/new-agent-register" method="post">
                          <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                          <input type="text" id="name" name="name" class="form-control" placeholder="Agent Name" />
                          <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                          <input type="email" id="email" name="email_id" class="form-control" placeholder="Email Id" />
                          <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                          <input type="password" id="password" name="password" class="form-control" placeholder="Password" />
                          <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4 my-4">
                            <button type="submit" class="btn btn-primary btn-lg">Register</button>
                          </div>
                        </form>
                      </div>
                      <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp" class="img-fluid" alt="Sample image">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      {% with messages = get_flashed_messages() %}  
            {% if messages %}  
              {% for message in messages %}  
              <div class="container" id="alert" style="position: fixed;color:aliceblue;background-color: #13d133;padding: 10px;top:700px;z-index: 20;left:100px">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <i id="message"><p>{{ message }}</p> </i>
              </div>
                    
              {% endfor %}  
            {% endif %}  
        {% endwith %}  
      <!-- End App Features Section -->
      <!-- ======= pending Section ======= -->
      <section id="Pending" class="pending section-bg">
        <div class="container col-lg-12 col-xl-11" data-aos="fade-up">
          <div class="section-title">
            <h2>Pending Issues</h2>
          </div>
          {% if issues %} 
          <table class="table table-hover table-dark">
            <thead>
              <tr>
                <th scope="col">Ticket ID</th>
                <th scope="col">Problem Title</th>
                <th scope="col">Description</th>
                <th scope="col">Agent Id</th>
                <th scope="col">Progress</th>
              </tr>
            </thead>
            <tbody>
              {% for issue in issues %} 
              <tr>
                <th scope="row">{{ issue['TICKET'] }}</th>
                <td>{{ issue['TITLE'] }}</td>
                <td>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  {{ issue['DESCRIPTION'] }}
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </td>
                <td>
                  <div class="w-25">
                    <input type="text"  class="form-control" id="{{issue['TITLE']}}" value={% if issue['AGENT_ID'] == None %}{{0}}{% else %}{{ issue['AGENT_ID'] }}{% endif %} onchange="assignJob({{issue['TICKET']|safe}},'{{issue['TITLE']|safe}}')" style={% if issue['AGENT_ID'] == None or issue['AGENT_ID'] == 0 %}"background-color:#F74646;color:white;" {% else %}"background-color:green;color:aliceblue" {% endif %}>
                  </div>
                </td>
                <td>
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width:{{ issue['PROGRESS'] }}%" aria-valuenow={{ issue['PROGRESS'] }} aria-valuemin="0" aria-valuemax="100">
                        {{ issue['PROGRESS'] }} 
                    </div>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          
           
            
          {% else %}
          <div class="display-1" style="color: white;background-color:black"> No Issues </div> 
          {% endif %}
        </div>
      </section>
      <!-- End pending Section -->
      <!-- ======= Agent Section ======= -->
      <section id="Agents" class="Agents">
        <div class="container">
          <div class="section-title">
            <h2>Agent</h2>
          </div>
          <!-- ---------------------------------Alert Box---------------------------- -->
          <div class="alert" id="job-alert">
            <span class="closebtn" onclick="dismiss(this);">&times;</span>
            <i id="job-message">response message</i>
          </div> 
          {% if agents %} 

          <div class="row no-gutters"> {% for agent in agents %} 
            <div class="col-lg-4 box" data-aos="fade-right" id={{ agent[ "AGENT_ID"] }}>
              <h3>Agent</h3>
              <img class="imag" src={{agent['PROFILE']}} style="border-radius: 100%;">
              <ul>
                <li>
                  <i class="bx bx-check"></i>
                  <span>ID</span> :{{ agent["AGENT_ID"] }}
                </li>
                <li>
                  <i class="bx bx-check"></i> Name: {{ agent["NAME"] }}
                </li>
                <li>
                  <i class="bx bx-check"></i> Solved: {{ agent["SOLVED_ISSUES"] }}
                </li>
                <li>
                  <i class="bx bx-check"></i> Pending: {{ agent["PENDING_ISSUES"] }}
                </li>
                <li>
                  <i class="bx bx-check"></i>
                  <span>Phone NO: {{ agent["PNO"]}}</span>
                </li>
                <li>
                  <i class="bx bx-check"></i>
                  <span>Email: {{ agent["EMAIL_ID"] }}</span>
                </li>
              </ul>
              <button class="get-started-btn" onclick=removeAgent({{ agent["AGENT_ID"] }})>Remove Agent</button>
            </div> {% endfor %} </div> {% else %} <div class="display-1" style="color: white;background-color:black"> No agents available </div> {% endif %}
        </div>
      </section>
      <!-- End Agent Section -->
      <!-- ======= Contact Section ======= -->
      <!-- End Contact Section -->
    </main>
    <!-- End #main -->
    <!-- End Footer -->
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
      <i class="bi bi-arrow-up-short"></i>
    </a>
    <!-- Vendor JS Files -->
    <script src="/admin/static/assets/vendor/aos/aos.js"></script>
    <script src="/admin/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/admin/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/admin/static/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <!-- Template Main JS File -->
    <script src="/admin/static/assets/js/main.js"></script>
    <script>


        
        function removeAgent(id){
          $.ajax({
            type: 'POST',
            url: '/admin/removeAgent',
            data: {
              agent_id: id,
            },
            success: function(response) {
              document.getElementById("message").innerHTML = response;
              document.getElementById("alert").style.display = "block";
              document.getElementById(id).style.display = "none;"
            }
          });
        }

        function dismiss(el){
          el.parentNode.style.display='none';
        };

        function assignJob(ticket, title) {
          var agent_id = document.getElementById(title).value;
          console.log(agent_id);
          $.ajax({
            type: 'POST',
            url: '/admin/assign-job-to-agent',
            data: {
              agent_id: agent_id,
              ticket: ticket,
            },
            success: function(response) {
              document.getElementById("message").innerHTML = response;
              document.getElementById("alert").style.display = "block";
              console.log("Assigned");
            }
          }); 
        };
      
      </script>
  </body>
  
</html>