<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TCE Desk Administrator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/node_modules/bootstrap/dist/css/bootstrap.css') }}">
    <script src="https://kit.fontawesome.com/07972bca60.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='/node_modules/jquery/dist/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='/node_modules/bootstrap/dist/js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static',filename='/javascript/navlink-activator.js')}}"></script>
    
    <script>
         $(document).on('submit','#new-agent-form',function(e)
                   {
            e.preventDefault();
            $.ajax({
                type:'POST',
                url:'/new-agent-register',
                data:{
                    name:$("#name").val(),
                    email_id:$("#email").val(),
                    password:$("#password").val()
                },
                success:function(response)
                {
                    document.getElementById("message").innerHTML = response;
                    document.getElementById("alert").style.display = "block";
                }   
            })
         });
        function assignJob(ticket,title)
        {
            var agent_id = $('#'+title).val();    
            $.ajax({
                type:'POST',
                url:'/assign-job-to-agent',
                data:{
                    agent_id:agent_id,
                    ticket:ticket,
                },
                success:function(response)
                {
                    document.getElementById("job-message").innerHTML = response;
                    document.getElementById("job-alert").style.display = "block";
                }   
            })
         };
    </script>
    <style>
      body{
        margin:0;

      }
      .active {
          color: lime; 
          font-weight: 600;
      }


      .alert {
          padding: 20px;
          background-color: #46faa6;
          color: rgb(0, 0, 0);
          position: relative;
          display: none;
          float:inline-start;
      }

      .closebtn {
          margin-left: 15px;
          color: white;
          font-weight: bold;
          float: right;
          font-size: 22px;
          line-height: 20px;
          cursor: pointer;
          transition: 0.3s;
      }

      .closebtn:hover {
          color: black;
      }
  </style>
</head>
<body>
    <div class="container-fluid">
        <h2 class="jumbotron">Administrator: {{ name }}</h2>
        <div style="background-color:#70847b;height: auto;">
            <h3>Add new Agents</h3>
             <!-- ---------------------------------Alert Box---------------------------- -->
            <div class="alert" id="alert">
              <span class="closebtn" onclick="this.parentElement.style.display='none';" >&times;</span> 
              <i id="message">response message</i> 
             </div>
             <form id="new-agent-form" action="{{ url_for('newAgentRegister') }}" method="post">
              

                <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                  <input type="text" id="name" class="form-control" placeholder="Agent Name"/>


                <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                  <input type="email" id="email" class="form-control" placeholder="Email Id"/>
             
                <i class="fas fa-lock fa-lg me-3 fa-fw"></i>

                  <input type="password" id="password" class="form-control" placeholder="Password" />



              <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                <button type="submit" class="btn btn-primary btn-lg">Register</button>
              </div>

            </form>
        </div>
        </div>
        <!-- All Agents -->
        <div style="background-color:#d646fa;height: auto;" class="d-flex  justify-content-center">
                {% if agents %}
                  <div class="card-deck">
                    <div class="row">
                      {% for agent in agents %}
           
                      <div class="col">
                        <div class="card text-white bg-secondary" style="width: 18rem;margin:5px">
                          <img class="card-img-top" src="{{ url_for('static',filename='/Drawable/man.png') }}" style="width:100px;height:auto;" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">Agent:{{ agent["AGENT_ID"] }}</h5>
                            <p class="card-text">
                                Name:{{ agent["NAME"] }}<br>
                                Solved:{{ agent["SOLVED_ISSUES"] }}<br>
                                Pending:{{ agent["PENDING_ISSUES"] }}<br>
                                Pno:{{ agent["PNO"]}} <br>
                                Email Id:{{ agent["EMAIL_ID"] }}<br>
                            </p>
                          </div>
                          <div class="card-footer">
                            <a href="#" class="btn btn-primary">Remove Agent</a>
                            <a hred="#" class="btn btn-primary">Email Agent</a>
                          </div>
                        </div>  
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                {% else %}
                  <div class="display-1" style="color: white;background-color:black">
                    No agents available
                  </div>
                {% endif %}
              
        </div>


        <!-- All Issue Created -->
        <div style="background-color:#e2fa46;height: auto;" class="d-flex  justify-content-center">
          
            <!-- ---------------------------------Alert Box---------------------------- -->
            <div class="alert" id="job-alert">
              <span class="closebtn" onclick="this.parentElement.style.display='none';" >&times;</span> 
              <i id="job-message">response message</i> 
             </div>
             {% if issues %}
  
          <div class="card-deck">
            <div class="row">
            {% for issue in issues %}
            <div class="col">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">
                  Ticket:{{ issue['TICKET'] }}<br>
                  Title:{{ issue['TITLE'] }}
                </h5>
                <p class="card-text">{{ issue['DESCRIPTION'] }}</p>
                
              </div>
              <div class="card-footer">
                
                <div class="mb-3">
                  Agent id
                  <input type="text" class="form-control" id={{ issue['TITLE'] }} placeholder={{ issue['AGENT_ID'] }}>
                </div>     
                <button onclick=assignJob({{issue['TICKET']|safe}},'{{ issue['TITLE'] }}') class="btn btn-primary">Assign Job</button>
              </div>
            </div>
          </div>
            {% endfor %}  
          </div>
          </div>
          {% else %}
          <div class="display-1" style="color: white;background-color:black">
            No Issues
          </div>  
          {% endif %}
        </div>
      </div>
</body>
</html>