<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Ticket ID : {{ticket['TICKET']}}<br>
    User Email ID : {{ticket['EMAIL_ID']}}<br>
    User ID : {{ticket['USER_ID']}}<br>
    Title : {{ticket['TITLE']}}<br>
    Description : {{ticket['DESCRIPTION']}}<br>
    Status : {% if ticket['SOLVED']==0 %}<p style="background-color: red;">Not Solved</p>
            {% else %}<p style="background-color: green;">Solved</p>
            {% endif %}
    <form action="/update-progress" method="post">
        <label for="vol">Progress :</label>
        <input type="range" id="progress" name="progress" min="0" max="100" value={{ticket['PROGRESS']}}>
        <input type="text" id="ticket" name="ticket" value={{ticket['TICKET']}} style="display:none">
        <input type="submit" value="apply">
    </form>
</body>
</html>

 
