<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/node_modules/bootstrap/dist/css/bootstrap.css') }}">
    <script src="https://kit.fontawesome.com/07972bca60.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='/node_modules/jquery/dist/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='/node_modules/bootstrap/dist/js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static',filename='/javascript/navlink-activator.js')}}"></script>
<!-- CSS only -->
<link href="{{url_for('static',filename='/styles/landing-page.css')}}" rel="stylesheet">
<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous"> -->
<!-- JavaScript Bundle with Popper -->
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script> -->
    <title>TCE Desk</title>
    <script>
        $(function() {
        // Sidebar toggle behavior
        $('#sidebarCollapse').on('click', function() {
            $('#sidebar, #content').toggleClass('active');
        });
        });

        $(document).on('submit','#issue-form',function(e)
                   {
            console.log('hello');
            e.preventDefault();
            $.ajax({
                type:'POST',
                url:'/register-issue',
                data:{
                    title:$("#title").val(),
                    description:$("#description").val()
                },
                success:function(response)
                {
                    document.getElementById("message").innerHTML = response;
                    document.getElementById("alert").style.display = "block";
                }   
            })
         });
         
    </script>

</head>
<body>
    
    <!-- Vertical navbar -->
    <div class="vertical-nav bg-white" id="sidebar">
        <div class="py-4 px-3 mb-4 bg-light">
            <img src="https://bootstrapious.com/i/snippets/sn-v-nav/avatar.png" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
        </div>
        <ul class="nav flex-column bg-white mb-0">
            <li class="nav-item">
                <a href="#home" class="nav-link text-dark font-italic bg-light">
                        <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                        Home
                    </a>
            </li>
            
            <li class="nav-item">
                <a href="#pending-issue" class="nav-link text-dark font-italic">
                        <i class="fa fa-area-chart mr-3 text-primary fa-fw"></i>
                        Issue's Pending
                    </a>
            </li>
            <li class="nav-item">
                <a href="#solved-issue" class="nav-link text-dark font-italic">
                        <i class="fa fa-bar-chart mr-3 text-primary fa-fw"></i>
                        Issue's Solved
                    </a>
            </li>
            <li class="nav-item">
                <a href="#new-issue" class="nav-link text-dark font-italic">
                        <i class="fa fa-bar-chart mr-3 text-primary fa-fw"></i>
                        New Issue
                    </a>
            </li>
            <li class="nav-item">
                <a href="#about" class="nav-link text-dark font-italic">
                        <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
                        About
                    </a>
            </li>
            <li class="nav-item">
                <a href="#services" class="nav-link text-dark font-italic">
                        <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
                        Services
                    </a>
            </li>
        </ul>
        <div class="logout">
            <a href="/logout" onclick="signOut()" class="nav-link align-items-center">
                <div class="btn btn-outline-primary text-dark font-italic">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    Logout
                </div>  
            </a>
        </div>
        
    </div>
    <!-- End vertical navbar -->

    <!-- Landing Page Banner Start -->

    <div class="my-container container">
        <div data-bs-spy="scroll" data-bs-target="#sidebar" data-bs-offset="0" class="scrollspy-example" tabindex="0">
            <div class="introduction" id="home">
                <div class="row">
                    <div class="col">
                        <img src="{{url_for('static',filename='/Drawable/logos/logo3.png')}}" width="500px">
                    </div>
                    <div class="col d-flex justify-content-center align-self-center intro-text">
                        <H3>
                    
                                {{session.user_name}}<br>
                                {{session.email_id}}
                        
                        </H3>
                    </div>
                </div>
            </div>

            <div class="pending-issue d-flex align-items-center justify-content-center" id="pending-issue">
                {% if pending_issue_data|length > 0 %}
                <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        {% for header in pending_issues_headings %}
                            <th scope="col">{% header %}</th>
                        {% endfor %}
                      </tr>
                    </thead>
                    <tbody>
                        {% for row in pending_issue_data %}
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                {% for cell in row %}
                                    <td>{cell}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                {% else %}
                <span>
                    <blockquote class="blockquote jumbotron">
                      <p>Have an issue ? No problem raise here we will solve it!</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                      In our Unique way <cite title="Source Title">TCE Desk's Way</cite>
                    </figcaption>
                    <button class="btn btn-block btn-primary gradient-custom-2">New Issue</button>
                </span>

                {% endif %}
            </div>

            <div class="solved-issue d-flex align-items-center justify-content-center" id="solved-issue">
                {% if pending_issue_data|length > 0 %}
                <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        {% for header in pending_issues_headings %}
                            <th scope="col">#</th>
                        {% endfor %}
                      </tr>
                    </thead>
                    <tbody>
                        {% for row in pending_issue_data %}
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                {% for cell in row %}
                                    <td>{cell}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                {% else %}
                <span>
                    <blockquote class="blockquote jumbotron">
                      <p>Feeling Lucky? Yes you should.</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                      Any problem should occur ,Let's Solve in <cite title="Source Title">TCE Desk's Way</cite>
                    </figcaption>

                </span>

                {% endif %}
            </div>
            <div class="new-issue d-flex align-items-center justify-content-start" id="new-issue">
                <div class="alert" id="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';" >&times;</span> 
                    <i id="message">response message</i> 
                </div>
                <div class="new-issue-form-holder">
                    <span class="jumbotron">
                        <h3>
                            Got a Problem?<br>
                             We are here to solve it.
                        </h3>
                    </span>
                    <form class="" id="issue-form" method="post">
                        
                        <!-- Title input -->
                        <div class="form-outline mb-4">
                          <input type="text" name="title" id="title" class="form-control" required/>
                          <label class="form-label" for="form5Example1">Title</label>
                        </div>
                        <!-- Title input -->
                        <div class="form-outline">
                            <textarea class="form-control" name="description" id="description" rows="4" cols="3" required></textarea>
                            <label class="form-label" for="textAreaExample">Description</label>
                          </div>      
                          
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block gradient-custom-2">Raise Issue</button>
                      </form>
                </div>
            </div>

            <div class="about" id="about">
                <video src="{{url_for('static',filename='/Drawable/videos/Mountains.mp4')}}" width="100%" type="video/mp4" autoplay loop></video>
            </div>
            
            <div class="services" id="services">

            </div>
            
            
        </div>
    </div>

    <!-- Landing Page Banner End -->
    <script>
        
        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
            console.log('User signed out.');
            });
        }

        form.addEventListener('submit', function(event) {
            event.preventDefault();    // prevent page from refreshing
            const formData = new FormData(form);  // grab the data inside the form fields
            fetch('/', {   // assuming the backend is hosted on the same server
                method: 'POST',
                body: formData,
            }).then(function(response) {
                // do something with the response if needed.
                // If you want the table to be built only after the backend handles the request and replies, call buildTable() here.
            });
        });
    </script>
</body>
</html>
