/* @import url('https://fonts.googleapis.com/css?family=Montserrat:400,600'); */

.vertical-nav {
    min-width: 12rem;
    width: 12rem;
    height: 100vh;
    position: fixed;
    margin: 0;
    padding: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
    }

    .page-content {
    width: calc(100% - 20rem);
    margin-left: 15rem;
    transition: all 0.4s;
    }

    /* for toggle behavior */

    #sidebar.active {
    margin-left: -15rem;
    }   

    #content.active {
    width: 100%;
    margin: 0;
    }

    @media (max-width: 760px) {
        #sidebar {
            margin-left: -15rem;
        }
        #sidebar.active {
            margin-left: 0;
        }
        #content {
            width: 100%;
            margin: 0;
        }
        #content.active {
            margin-left: 10rem;
            width: calc(100% - 25rem);
        }
    }   

.container.my-container {
    padding: 0;
    margin: 0 0 0 13rem;
    width: 100%;
}

td,th{
    margin: 0;
}

.introduction{
    height: 30rem;
    
    background-color: hsl(219, 74%, 76%);
    background-image: radial-gradient(650px circle at 0% 0%,
        hsl(219, 58%, 59%) 15%,
        hsl(183, 41%, 30%) 35%,
        hsl(245, 54%, 35%) 78%,
        hsl(285, 87%, 76%) 83%,
        transparent 100%),
    radial-gradient(1250px circle at 100% 100%,
        hsl(194, 74%, 74%) 5%,
        hsl(218, 71%, 54%) 15%,
        hsl(280, 43%, 36%) 55%,
        hsl(218, 31%, 57%) 60%,
        transparent 100%);

        border-radius: 0% 0% 0% 0%;
}

.intro-text{
    color: aliceblue;
    font-family: cursive;
}

.about{
    height: 300px;
    background-color: rgb(36, 109, 173);
    
}

.pending-issue{
    height: 500px;
    background-image: url("../Drawable/division-pictures/issue-pc.png");
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: right;
}


.solved-issue{
    height: 500px;
    background-color: #022fad;
    background-image: url("../Drawable/division-pictures/man_and_women.png");
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: left;
    color: azure;
}

.new-issue{
    height: 600px;
    background-image: url("../Drawable/division-pictures/two_man_one_women.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right;

    color: azure;
}

.new-issue-form-holder{
    margin-left: 15rem;
    border: #ad0502;
    position: absolute;
    border-radius: 5px;
    border-style: dashed;
    padding: 30px;
    background-color: #3669d8;
}

body{
    overflow-x: hidden
}

.logout{
    margin-top: 320px;
    margin-left: 40px;
}


.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #24c2ee, #3669d8, #36ddc1, #6e45b4);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #24c2ee, #3669d8, #36ddb9, #6e45b4);
    }

    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
}


.active {
    color: lime; 
    font-weight: 600;
  }


  .alert {
    padding: 20px;
    background-color: #46faa6;
    color: rgb(0, 0, 0);
    position: relative;
    display: none;
    float:inline-start;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}